################################################################################################################################################################
## .clang-tidy
##
## Zach Metcalf
################################################################################################################################################################

---
Checks: '-*,clang-analyzer-*,clang-diagnostic-*,cppcoreguidelines-*,modernize-*,portability-*,readability-*'
WarningsAsErrors: ''
