################################################################################################################################################################
## .gitignore
##
## Zach Metcalf
################################################################################################################################################################

# directories
/3rdparty/
/bin/
/build/
/install/

# files
*.DS_Store

# visual studio
*.aps
/.vs/
