################################################################################################################################################################
## .gitignore
##
## Zach Metcalf
################################################################################################################################################################

# directories
bin/
build/

# files
*.DS_Store

# visual studio
.vs/
*.aps
*.sln

# xcode
*.xcworkspace/

# python
.venv/
*__pycache__
